examples/*
tests/*
Example.*
example.*
.vscode/*
*.code-workspace
*.html
*.jj
*.iml
*.class
LLVMGenerator/*
SemanticAnalyzer/*
MiniJavaLLVMCompiler/*
!MiniJavaLLVMCompiler/ClassInformation/
!MiniJavaLLVMCompiler/SymbolTable/
!MiniJavaLLVMCompiler/Visitors/
!MiniJavaLLVMCompiler/Main.java
!MiniJavaLLVMCompiler/Makefile
todo
